/***************************
Add your custom styles below
****************************/

.wrap {
  padding: 20px 0;
}

.page-border {
  margin: 20px;
  background: #EAE6E5;
}

.logo-module {
	margin-top:15px;
}

.nav-bar {
	display: flex;
	justify-content: space-between;
	height: 100px;
	max-height: 100px;
	line-height: 98px;
}

.menu > li {
	font-size: 25px;
}

.partners-1 .slider img {
    opacity: 1;
    max-height: 12em;
}

.partners-1 .slider {
    margin: 0 -8%;
}

section.space--sm {
    padding-top: 1em;
    padding-bottom: 1em;
}

.btn__text {
	font-size: 14px !important;
}

#footer-logo-site-container {
	position: absolute;
	
}

#tu-logo-img {
	height: 100%;
	width:auto;
}

#conference-background {
	padding: 0;
}

#conference-background div{
	position: relative;
}

#conference-background div img {
	display: block;
	width: 100%;
	max-width: 100%;
	height: auto;
    vertical-align: top;
	margin: 0;
}

#party-section {
    padding: 400px 0;
}

@media (max-width: 990px) {
	.nav-bar {
		display: block;
	}
	#tu-logo {
		position: absolute;
		top: 0;
		right: 80px;
	}
}

@media (max-width: 860px) {
	#footer-logo-site-container {
		position: relative;
	}
}

@media (max-width: 1300px) {
	#party-section {
		padding: 300px 0;
	}
}

@media (max-width: 950px) {
	#party-section {
		padding: 200px 0;
	}
}

@media (max-width: 767px) {
	#party-section {
		padding: 170px 0;
	}
}

@media (max-width: 470px) {
	#party-section {
		padding: 120px 0;
	}
}